---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
redirect_from: 
  - /teaaching.html
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses Taught</title>
</head>
<body>

<h2>Courses Taught as Instructor:</h2>
<ul>
    <li>MATH 0120 Business Calculus, Summer 2019.</li>
    <li>MATH 0240 Calculus III, Summer 2018.</li>
    <li>MATH 0230 Calculus II, Summer 2017.</li>
    <li>MATH 0290 Differential Equations, Summer 2015.</li>
</ul>

<h2>Courses Taught as Teaching Assistant:</h2>
<ul>
    <li>MATH 0031 Algebra, Summer 2020.</li>
    <li>MATH 0450 Introduction to Analysis (Honors), Spring 2019.</li>
    <li>MATH 0220 Calculus I, Fall 2015, Spring 2017, Fall 2018.</li>
    <li>MATH 0230 Calculus II, Fall 2015, Fall 2016, Fall 2018.</li>
    <li>MATH 0290 Differential Equations, Spring 2018.</li>
    <li>MATH 1360 Math Modeling, Fall 2016.</li>
    <li>MATH 0240 Calculus III, Summer 2016.</li>
    <li>MATH 0280 Introduction to Matrices and Linear Algebra, Spring 2016.</li>
</ul>

</body>
</html>




{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

