---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
redirect_from: 
  - /teaaching.html
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses Taught</title>
</head>
<body>


<h2> The University of Texas at Tyler</h2>    

  <h3>Courses: </h3>
<ul>
   <li>MATH 2414 Calculus II, Spring 2025.</li>
    <li>MATH 2413 Calculus I, Fall 2024.</li>
</ul>


  <h3>Teaching Effectiveness</h3>
<p>To find a copy of my teaching evaluations at Pitt Click <a href="https://ivanrazu.github.io/files/Teaching_evaluations_Pitt.pdf">here</a>.</p>

 
<h2> University of Pittsburgh</h2>  
  

  
<h3>Courses Taught as Instructor:</h3>
<ul>
    <li>MATH 0120 Business Calculus, Summer 2019.</li>
    <li>MATH 0240 Calculus III, Summer 2018.</li>
    <li>MATH 0230 Calculus II, Summer 2017.</li>
    <li>MATH 0290 Differential Equations, Summer 2015.</li>
</ul>

<h3>Courses Taught as Teaching Assistant:</h3>
<ul>
    <li>MATH 0031 Algebra, Summer 2020.</li>
    <li>MATH 0450 Introduction to Analysis (Honors), Spring 2019.</li>
    <li>MATH 0220 Calculus I, Fall 2015, Spring 2017, Fall 2018.</li>
    <li>MATH 0230 Calculus II, Fall 2015, Fall 2016, Fall 2018.</li>
    <li>MATH 0290 Differential Equations, Spring 2018.</li>
    <li>MATH 1360 Math Modeling, Fall 2016.</li>
    <li>MATH 0240 Calculus III, Summer 2016.</li>
    <li>MATH 0280 Introduction to Matrices and Linear Algebra, Spring 2016.</li>
</ul>


<h2>East Tennessee State University</h2>
<h3>Courses Taught as Instructor:</h3>
<ul>
    <li>MATH 1920 Calculus II, Spring 2014, Summer 2014.</li>
    <li>MATH 1910 Calculus I, Fall 2013.</li>
</ul>

<h3>Courses Taught as Teaching Assistant:</h3>
<ul>
    <li>MATH 1920 Calculus II, Summer 2014.</li>
</ul>

<h2>Universidad de Costa Rica</h2>
<h3>Courses Taught as Instructor:</h3>
<ul>
    <li>MA 1005 Differential Equations, Spring 2011, Spring 2012, Fall 2012. </li>
    <li>MA 2210 Applied differential equations, Fall 2011, Fall 2012. </li>
    <li> MA 0230 Calculus for Economics, Fall 2011.</li>
    <li> MA 1001 Calculus I, Spring 2009, Spring 2010.</li>
    <li>MA 1002 Calculus II, Fall 2009, Fall 2010.</li>
    <li>MA 1004 Linear Algebra, Spring 2009, Spring 2010. </li>  
</ul>
    

</body>
</html>




{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

