---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
redirect_from: 
  - /teaaching.html
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Information</title>
</head>
<body>

<h2>Lecture Math 0120. Business Calculus</h2>
<p>Prof. Ivan Ramirez Zuniga, University of Pittsburgh, Department of Mathematics, 2019</p>
<p><strong>Syllabus:</strong> <a href="link_to_pdf_syllabus">PDF Syllabus</a></p>

<h2>Recitation Math 0450. Intro to Analysis Honors</h2>
<p>Prof. C. Lennard, University of Pittsburgh, Department of Mathematics, 2019</p>

<h2>Recitation Math 0230. Calculus II</h2>
<p>Prof. Anna Vainchtein, University of Pittsburgh, Department of Mathematics, 2018</p>

<h2>Recitation Math 0220. Calculus I</h2>
<p>Prof. Patrick Clark, University of Pittsburgh, Department of Mathematics, 2018</p>

<h2>Recitation Math 0220. Calculus I</h2>
<p>Prof. Sheng Xiong, University of Pittsburgh, Department of Mathematics, 2018</p>

</body>
</html>



{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

